#description {
    color: red;
}

.home {
    text-align: center;
}
#erikaessentials {
    height: 400px;
    margin: 0;
}

.erikah1 {
    text-align: center;
}

.erikadiv {
    text-align: center;
}

.paradiv {
    text-align: center;
}

.pooldiv {
    text-align: center;
}

.pool1 {
    margin: 0;
}